@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 3vh;
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid #007bff;
}

#clavierCalto *{
    user-select: none;
}

#flatNumbers{
    border:1px solid blue;
    display: flex;
    align-items:center;
    justify-content: center;
    width:25vw;
    height:15vh;
}

#lineNumber{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin:1em 0;
}

#lineDelInput{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin:1em 0;
}

#lineDelInput *{
    border: 1px solid black;
    display: flex;
    align-items:center;
    justify-content: center;
    height:9vh;
    width:25vw;
}

#lineOkZero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin:1em 0;
}

.bluettons:hover{
    background-color: #007bff;
    transition-duration: 0.4s;
}
.bluettons{
    transition-duration: 0.4s;
}

#zero{
    border:1px solid blue;
    width:20vw;
    display: flex;
    align-items:center;
    justify-content: center;
}

.blackButtons:hover{
    background-color: rgba(0,0,0,0.2);
    transition-duration: 0.4s;
}

.blackButtons{
    transition-duration: 0.4s;
}

#okButton{
    display: flex;
    align-items:center;
    justify-content: center;
    border:1px solid black;
    width: 50vw;
    height:15vh;
}

input{
    border-radius:20px;
    text-align: center;
    outline:  none;
}

input::-webkit-input-placeholder {
    color: black;
}

div{
    cursor:pointer;
}

form{
    visibility: hidden;
}

.theList:hover{
    transition-duration:0.5s;
    background-color:rgba(0,0,0,0.3);
}
.theList{
    position:absolute;
    bottom:1em;
    transition-duration:0.5s;
    left:1em;
    padding:10px;
    text-decoration:none;
    color:black;
    border: 1px solid black;
    border-radius:5px;
}

.listHeader{
    position: absolute;
    top:0;
    cursor: default;
}
.listHeader a{
    font-weight: bold;
    font-size: 1.5em;
    margin:1em;
    margin-bottom:1.5em;
}
.listHeader p{
    display:inline;
    margin:1em;
    top:2em;
    padding:1em;
    text-align: center;
    border:1px solid black;
}
.titouleStatistouque{
    display:block;
}
.backButton{
    text-decoration:none;
    color:black;
    padding:10px;
    border-radius:5px;
    font-size:2em;
    position:absolute;
    top:1em;
    right:1em;
    border : 1px solid black;
}
.backButton:hover{
    background-color:rgba(0,0,0,0.3);
    color:black;
    text-decoration:none;
    transition-duration:0.5s;
}
